![Python_logo](https://www.python.org/static/community_logos/python-logo-master-v3-TM.png)


 # **Cortex Game: Round2--Conditional Amount**

Please note that you need to run this notebook 'Round2--Conditional Amount' first, before running the notebook 'Round2--Probability of Giving'.

> Before playing the game, you need to connect to SASPy first.
>
>> If it is your first time, please follow the 4 steps mentioned below!

***
## **Connect to SASPy**

**0- Connect to your Google Drive folder**

In [ ]:
my_folder = "/content/drive/MyDrive/RetoSAS"

from google.colab import drive
drive.mount('/content/drive')

# Change the following code to set your Drive folder
import os
os.chdir(my_folder)
!pwd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/RetoSAS

**1- Make sure that your Python version is 3.3 or higher as well as your Java version is 1.8.0_162 or higher**

In [ ]:
!echo "Python is at" $(which python)
!python --version

Python is at /usr/local/bin/python
Python 3.8.15

In [ ]:
!echo "Java is at" $(which java)
!/usr/bin/java -version

Java is at /usr/bin/java
openjdk version "11.0.17" 2022-10-18
OpenJDK Runtime Environment (build 11.0.17+8-post-Ubuntu-1ubuntu218.04)
OpenJDK 64-Bit Server VM (build 11.0.17+8-post-Ubuntu-1ubuntu218.04, mixed mode, sharing)

**2- Install SASPy**

In [ ]:
pip install saspy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: saspy in /usr/local/lib/python3.8/dist-packages (4.4.1)

**3- Create the configuration file "sascfg_personal.py"**
Please, check that your Home Region is correct, you can check it at [ODA-SAS](https://welcome.oda.sas.com/home)

In [ ]:
%%writefile sascfg_personal.py
SAS_config_names=['oda']
oda = {'java' : '/usr/bin/java',
#US Home Region 1
#'iomhost' : ['odaws01-usw2.oda.sas.com','odaws02-usw2.oda.sas.com','odaws03-usw2.oda.sas.com','odaws04-usw2.oda.sas.com'],
#US Home Region 2
'iomhost' : ['odaws01-usw2-2.oda.sas.com','odaws02-usw2-2.oda.sas.com'],
#European Home Region 1
#'iomhost' : ['odaws01-euw1.oda.sas.com','odaws02-euw1.oda.sas.com'],
#Asia Pacific Home Region 1
#'iomhost' : ['odaws01-apse1.oda.sas.com','odaws02-apse1.oda.sas.com'],
#Asia Pacific Home Region 2
#'iomhost' : ['odaws01-apse1-2.oda.sas.com','odaws02-apse1-2.oda.sas.com'],
'iomport' : 8591,
'authkey' : 'oda',
'encoding' : 'utf-8'
}

Overwriting sascfg_personal.py

**4- Create your .authinfo**

If there is no .authinfo file, you can create this

In [ ]:
#%%writefile .authinfo
#oda user USR password PSW

Copy this file to home

In [ ]:
!cp .authinfo ~/.authinfo

**5- Establish Connection (Need to do this step each time you use SASPy)**

In [ ]:
import saspy
sas_session = saspy.SASsession(cfgfile=os.path.join(
    my_folder,"sascfg_personal.py"))
sas_session

Using SAS Config named: oda
SAS Connection established. Subprocess id is 1544

Access Method         = IOM
SAS Config name       = oda
SAS Config file       = /content/drive/MyDrive/RetoSAS/sascfg_personal.py
WORK Path             = /saswork/SAS_work737700012DD4_odaws01-usw2-2.oda.sas.com/SAS_workDDD100012DD4_odaws01-usw2-2.oda.sas.com/
SAS Version           = 9.04.01M6P11072018
SASPy Version         = 4.4.1
Teach me SAS          = False
Batch                 = False
Results               = Pandas
SAS Session Encoding  = utf-8
Python Encoding value = utf-8
SAS process Pid value = 77268

***
## Connect to Cortex Data Sets

Load Cortex datasets from SAS Studio

In [ ]:
ps = sas_session.submit("""
    libname cortex '~/my_shared_file_links/u39842936/Cortex Data Sets';
    """)
print(ps["LOG"])

5                                                          The SAS System                      Friday, December  2, 2022 05:34:00 AM

24         ods listing close;ods html5 (id=saspy_internal) file=_tomods1 options(bitmap_mode='inline') device=svg style=HTMLBlue;
24       ! ods graphics on / outputfmt=png;
25
26
27             libname cortex '~/my_shared_file_links/u39842936/Cortex Data Sets';
28
29
30
31         ods html5 (id=saspy_internal) close;ods listing;
32

6                                                          The SAS System                      Friday, December  2, 2022 05:34:00 AM

33

For local Jupyter

In [ ]:
#%%SAS sas_session
#libname cortex '~/my_shared_file_links/u39842936/Cortex Data Sets';

### Transform cloud SAS dataset to Python dataframe (pandas)

> For reference: 

> 1- [Pandas library](https://pandas.pydata.org/docs/user_guide/index.html)

> 2- [sklearn.model_selection for data partition](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [ ]:
import pandas as pd
import numpy as np

#comment: Transform cloud sas dataset to python dataframe(pandas) ==> might take some time.

data1 = sas_session.sasdata2dataframe(
table='hist',
libref='cortex'
)

data2 = sas_session.sasdata2dataframe(
table='target_rd2',
libref='cortex'
)

## Merge the Data

In [ ]:
#Step1 Merge the Data
data_merge = pd.merge(data1, data2, on=["ID"],how="right")
data_merge.columns

Index(['ID', 'LastName', 'FirstName', 'Woman', 'Age', 'Salary', 'Education',
       'City', 'SeniorList', 'NbActivities', 'Referrals', 'Recency',
       'Frequency', 'Seniority', 'TotalGift', 'MinGift', 'MaxGift',
       'GaveLastYear', 'AmtLastYear', 'Contact', 'GaveThisYear',
       'AmtThisYear'],
      dtype='object')

In [ ]:
data_merge.to_csv('data_merge.csv', index=False)

In [ ]:
cualitativas = ["Woman", "Education", "City","SeniorList","GaveLastYear","GaveThisYear"]
cuantitativas = ["Age", "Salary", "NbActivities", "Referrals", "Recency", "Frequency", "Seniority", "TotalGift", "MinGift", "MaxGift","AmtLastYear","AmtThisYear"]
cuantitativas_sin_y = ["Age", "Salary", "NbActivities", "Referrals", "Recency", "Frequency", "Seniority", "TotalGift", "MinGift", "MaxGift","AmtLastYear"]

## Treat Missing Values

> Please be aware that deleting all missing values can induce a selection bias. 
Some missing values are very informative. For example, when MinGift is missing, it means that the donor never gave in the past 10 years (leading to but excluding last year). Instead of deleting this information, replacing it by 0 is more appropriate!

> A good understanding of the business case and the data can help you come up with more appropriate strategies to deal with missing values.

In [ ]:
# In this case, we are replacing MinGift by 0.
# You can do the same for what you think is reasonable for dealing with the other variables.
def deal_missing_values(data): 
  contarLastYear = False
  if contarLastYear:
    # Contando LastYear
    # MinGift
    data.loc[data["GaveLastYear"] == 1 & (data["AmtLastYear"] < data["MinGift"]), "MinGift"] = data["AmtLastYear"]
    data.loc[(data["GaveLastYear"] == 1) & (np.isnan(data["MinGift"])), "MinGift"] = data["AmtLastYear"]
    data[['MinGift']] = data[['MinGift']].fillna(value=0)

    # Recency
    data.loc[data["GaveLastYear"] == 0,"Recency"] += 1
    data.loc[np.isnan(data["Recency"]) & (data["GaveLastYear"] == 0),"Recency"] = 12.0
    data.loc[data["GaveLastYear"] == 1,"Recency"] = 1.0

    # Frequency
    data.loc[data["GaveLastYear"] == 1,"Frequency"] += 1
    data.loc[np.isnan(data["Frequency"]) & (data["GaveLastYear"] == 1),"Frequency"] = 1
    data[['Frequency']] = data[['Frequency']].fillna(value=0)

    # Seniority
    data[['Seniority']] = data[['Seniority']].fillna(round(data['Seniority'].mean()))

    # TotalGift
    data.loc[data["GaveLastYear"] == 1,"TotalGift"] += data["AmtLastYear"]
    data.loc[np.isnan(data["TotalGift"]) & (data["GaveLastYear"] == 1),"TotalGift"] = data["AmtLastYear"]
    data[['TotalGift']] = data[['TotalGift']].fillna(value=0)

    # MaxGift
    data.loc[data["GaveLastYear"] == 1 & (data["AmtLastYear"] > data["MaxGift"]), "MaxGift"] = data["AmtLastYear"]
    # data.loc[(data["GaveLastYear"] == 1) & (np.isnan(data["MaxGift"])), "MaxGift"] = data.loc[(data["GaveLastYear"] == 1) & (np.isnan(data["MaxGift"])),"AmtLastYear"]
    data.loc[(data["GaveLastYear"] == 1) & (np.isnan(data["MaxGift"])), "MaxGift"] = data["AmtLastYear"]
    data[['MaxGift']] = data[['MaxGift']].fillna(value=0)

  else:

    #Sin Contar LastYear
    data[['MinGift']] = data[['MinGift']].fillna(value=0)
    data[['Recency']] = data[['Recency']].fillna(value=0)
    data[['Frequency']] = data[['Frequency']].fillna(value=0)
    data[['Seniority']] = data[['Seniority']].fillna(value=0)
    data[['TotalGift']] = data[['TotalGift']].fillna(value=0)
    data[['MaxGift']] = data[['MaxGift']].fillna(value=0)

  return data

# data.sample(3)

## Data normalize

In [ ]:
from sklearn.preprocessing import normalize

In [ ]:
def normalize_data(data):
  data[cuantitativas_sin_y] = normalize(data[cuantitativas_sin_y], norm='l2')

  return data

## Data standardize

In [ ]:
from sklearn.preprocessing import StandardScaler

def standardize_data(data): 
  scaler = StandardScaler()
  scaler.fit(data[cuantitativas_sin_y])
  transformed = scaler.transform(data[cuantitativas_sin_y])

  data[cuantitativas_sin_y] =  pd.DataFrame(transformed, columns = data[cuantitativas_sin_y].columns)

  return data
# data.head(10)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

def min_max_data(data): 
  scaler = MinMaxScaler()
  scaler.fit(data[cuantitativas_sin_y])
  transformed = scaler.transform(data[cuantitativas_sin_y])

  data[cuantitativas_sin_y] =  pd.DataFrame(transformed, columns = data[cuantitativas_sin_y].columns)

  return data
# data.head(10)

## One Hot Encoding

In [ ]:
def one_hot_function(data): 

  data = pd.get_dummies(data, columns = ['Education', 'City'])
  return data

# data.head(5)

In [ ]:
data_merge = deal_missing_values(data_merge)
data_merge = standardize_data(data_merge)
# data_merge = min_max_data(data_merge)
data_merge = one_hot_function(data_merge)

In [ ]:
data_merge.loc[np.isnan(data_merge['Age'])]

Empty DataFrame
Columns: [ID, LastName, FirstName, Woman, Age, Salary, SeniorList, NbActivities, Referrals, Recency, Frequency, Seniority, TotalGift, MinGift, MaxGift, GaveLastYear, AmtLastYear, Contact, GaveThisYear, AmtThisYear, Education_Elementary, Education_High School, Education_University / College, City_City, City_Downtown, City_Rural, City_Suburban]
Index: []

[0 rows x 27 columns]

In [ ]:
# data_merge = data_merge.loc[(data_merge['GaveThisYear'] ==1)]

In [ ]:
data_merge.tail()

,ID,LastName,FirstName,Woman,Age,Salary,SeniorList,NbActivities,Referrals,Recency,...,Contact,GaveThisYear,AmtThisYear,Education_Elementary,Education_High School,Education_University / College,City_City,City_Downtown,City_Rural,City_Suburban
999995,2999996.0,SCHUBERT,FRANCES,1.0,-0.916647,-0.826057,8.0,2.446410,1.365663,2.103732,...,0.0,0.0,0.0,0,1,0,0,0,0,1
999996,2999997.0,LUGGE,MARY,1.0,-1.286132,-0.958732,10.0,-0.563214,-0.531824,-0.540697,...,0.0,0.0,0.0,0,1,0,0,0,0,1
999997,2999998.0,ROY,REGINALD,0.0,-1.550049,-1.057011,10.0,0.439994,0.416919,-0.011812,...,0.0,0.0,0.0,0,1,0,1,0,0,0
999998,2999999.0,LIBERTI,PAMELA,1.0,-0.758297,-0.354321,0.0,-0.563214,-0.531824,-0.540697,...,0.0,1.0,20.0,0,0,1,0,0,1,0
999999,3000000.0,BELL,SYBIL,1.0,0.191806,-0.215093,4.0,-0.563214,-0.531824,-0.540697,...,0.0,0.0,0.0,0,0,1,0,0,0,1

## Data Partition

In [ ]:
# The code below is an illustration on how to sample data on train and validation samples.
# You could use another library or a built-in function to perform sampling.

from sklearn.model_selection import train_test_split
train, validation = train_test_split(data_merge, test_size=0.2, random_state=12345) 

train.sample(2)

,ID,LastName,FirstName,Woman,Age,Salary,SeniorList,NbActivities,Referrals,Recency,...,Contact,GaveThisYear,AmtThisYear,Education_Elementary,Education_High School,Education_University / College,City_City,City_Downtown,City_Rural,City_Suburban
99896,2099897.0,CAMACHO,FRANCIS,0.0,-0.811080,-0.860454,7.0,-0.563214,-0.531824,-0.540697,...,0.0,0.0,0.0,0,0,1,0,0,1,0
366444,2366445.0,PRITTS,DORIS,1.0,0.139023,1.942117,0.0,-0.563214,-0.531824,-0.540697,...,0.0,0.0,0.0,0,0,1,0,1,0,0

## Prebuilt Models
***

### **Linear Regression Model**


> The [sk-learn library](https://scikit-learn.org/stable/index.html ) offers more advanced models.

In [ ]:
from sklearn import linear_model
dummies_name = ['Education_Elementary', 'Education_High School', 'Education_University / College', 'City_City', 'City_Downtown', 'City_Rural', 'City_Suburban']
# train_columns = ['Age', 'Salary','Contact','MinGift', 'GaveLastYear', 'AmtLastYear','Woman', 'NbActivities'] + dummies_name
train_columns = ['Age', 'Salary','Contact','MinGift', 'GaveLastYear', 'AmtLastYear','Woman','Referrals', 'NbActivities','Frequency', 'Seniority','TotalGift'] + dummies_name
#comment: it's numpy array
X_train = train[train_columns] 
Y_train = train['AmtThisYear']
X_valid = validation[train_columns] 
Y_valid = validation['AmtThisYear']

regr = linear_model.LinearRegression()
regr.fit(X_train,Y_train)
regr_predict=regr.predict(X_valid)

In [ ]:
#you can change the criteria

import numpy as np
from sklearn import metrics
#MAE
print(metrics.mean_absolute_error(Y_valid,regr_predict))
#MSE
print(metrics.mean_squared_error(Y_valid,regr_predict))
#RMSE
print(np.sqrt(metrics.mean_squared_error(Y_valid,regr_predict)))

15.194719171598805
8624.014801321697
92.86557382217426

## **Regression Tree Model**

In [ ]:
from sklearn.tree import DecisionTreeRegressor

X_train = train[train_columns]
Y_train = train['AmtThisYear']
X_valid = validation[train_columns] 
Y_valid = validation['AmtThisYear']

DT_model = DecisionTreeRegressor(max_depth=5).fit(X_train,Y_train)

DT_predict = DT_model.predict(X_valid) #Predictions on Testing data

In [ ]:
#you can change the criteria
#MAE
print(metrics.mean_absolute_error(Y_valid,DT_predict))
#MSE
print(metrics.mean_squared_error(Y_valid,DT_predict))
#RMSE
print(np.sqrt(metrics.mean_squared_error(Y_valid,DT_predict)))

15.218083339077687
9118.443100920722
95.49053932678736

In [ ]:
import xgboost as xgb

In [ ]:
xgb_model = xgb.XGBRegressor(objective="reg:linear", random_state=42)

xgb_model.fit(X_train,Y_train)

xgb_predict = xgb_model.predict(X_valid)

[05:35:41] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
#MAE
print(metrics.mean_absolute_error(Y_valid,xgb_predict))
#MSE
print(metrics.mean_squared_error(Y_valid,xgb_predict))
#RMSE
print(np.sqrt(metrics.mean_squared_error(Y_valid,xgb_predict)))

15.083373716273158
8598.766048310381
92.72953169465691

In [ ]:
from sklearn.ensemble import AdaBoostRegressor

In [ ]:
ada_reg = AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
         n_estimators=100, random_state=42) 

ada_reg.fit(X_train,Y_train)

ada_reg_predict = ada_reg.predict(X_valid)

In [ ]:
#MAE
print(metrics.mean_absolute_error(Y_valid,ada_reg_predict))
#MSE
print(metrics.mean_squared_error(Y_valid,ada_reg_predict))
#RMSE
print(np.sqrt(metrics.mean_squared_error(Y_valid,ada_reg_predict)))

79.97855666880527
22404.8982100548
149.68265834776852

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rfr = RandomForestRegressor(max_depth = 10) 

rfr.fit(X_train,Y_train)

rfr_predict = rfr.predict(X_valid)

In [ ]:
#MAE
print(metrics.mean_absolute_error(Y_valid,rfr_predict))
#MSE
print(metrics.mean_squared_error(Y_valid,rfr_predict))
#RMSE
print(np.sqrt(metrics.mean_squared_error(Y_valid,rfr_predict)))

15.31392657588809
8992.515359936762
94.82887408346026

## Scoring New Data

### Prepare data for scoring

In [ ]:
data3 = sas_session.sasdata2dataframe(
table='score',
libref='cortex'
)
data4 = sas_session.sasdata2dataframe(
table='score_rd2_contact',
libref='cortex'
)
data5 = sas_session.sasdata2dataframe(
table='score_rd2_nocontact',
libref='cortex'
)

 ### Score new data based on your champion model
 
 Pick your champion model from previous steps and use it to predict next year donations. 
 
 In this case, the linear regression model performed better than the regression tree based on the MSE criteria.

### Predict 'amount given' for members who were contacted

In [ ]:
scoring_data_contact = pd.merge(data3, data4, on=["ID"],how="right")

# Perform the same strategy for handling missing values for the score dataset.

scoring_data_contact = deal_missing_values(scoring_data_contact)
scoring_data_contact = standardize_data(scoring_data_contact)
scoring_data_contact = one_hot_function(scoring_data_contact)

#scoring_data_contact.head()

X = scoring_data_contact[train_columns] 

# regr_predict_contact=regr.predict(X)
# DT_predict_contact = DT_model.predict(X) #Predictions on Testing data
xgb_predict_contact = xgb_model.predict(X) #Predictions on Testing data

# scoring_data_contact['Prediction'] = DT_predict_contact
# scoring_data_contact['Prediction'] = regr_predict_contact
scoring_data_contact['Prediction'] = xgb_predict_contact

scoring_data_contact= scoring_data_contact[['ID','Prediction']]
scoring_data_contact = scoring_data_contact.rename({'Prediction': 'AmtContact'}, axis=1) 
scoring_data_contact.head()

          ID  AmtContact
0  2000001.0   25.788204
1  2000002.0   40.930889
2  2000003.0   46.240509
3  2000004.0   13.315942
4  2000005.0   47.628304

### Predict 'amount given' for members who were not contacted

In [ ]:
scoring_data_nocontact = pd.merge(data3, data5, on=["ID"],how="right")

# Perform the same strategy for handling missing values for the score dataset.

scoring_data_nocontact = deal_missing_values(scoring_data_nocontact)
scoring_data_nocontact = standardize_data(scoring_data_nocontact)
scoring_data_nocontact = one_hot_function(scoring_data_nocontact)

#scoring_data_nocontact.head()

X = scoring_data_nocontact[train_columns] 

# regr_predict_nocontact=regr.predict(X)
# DT_predict_nocontact = DT_model.predict(X) #Predictions on Testing data
xgb_predict_nocontact = xgb_model.predict(X) #Predictions on Testing data

# scoring_data_nocontact['Prediction'] = DT_predict_nocontact
# scoring_data_nocontact['Prediction'] = regr_predict_nocontact
scoring_data_nocontact['Prediction'] = xgb_predict_nocontact

scoring_data_nocontact= scoring_data_nocontact[['ID','Prediction']]
scoring_data_nocontact = scoring_data_nocontact.rename({'Prediction': 'AmtNoContact'}, axis=1) 
scoring_data_nocontact.head()

          ID  AmtNoContact
0  2000001.0     11.739753
1  2000002.0      6.587717
2  2000003.0      6.737335
3  2000004.0      1.580060
4  2000005.0      8.412212

In [ ]:
result_Amt = pd.merge(scoring_data_contact, scoring_data_nocontact, on=["ID"],how="right")
result_Amt.sort_values(by=['ID'], inplace=True)
result_Amt.head(3)

          ID  AmtContact  AmtNoContact
0  2000001.0   25.788204     11.739753
1  2000002.0   40.930889      6.587717
2  2000003.0   46.240509      6.737335

## Exporting Results to a CSV File

In [ ]:
result_Amt.to_csv('Round2_Output_amt2.csv', index=False)

In [ ]:
# Reminder: You are now done with step 1 of Round 2 on predicting the conditional amount.
# Next, to complete Round2, you need to perform step 2 to predict the probability of giving, calculate the uplift and prepare your decision.

In [ ]:
!head Round2_Output_amt3.csv

ID,AmtContact,AmtNoContact
2000001.0,26.445272,13.579352
2000002.0,39.3725,6.443135
2000003.0,44.90819,6.564531
2000004.0,12.135225,0.94903636
2000005.0,44.90819,6.7758517
2000006.0,9.930719,0.7023297
2000007.0,9.718065,1.735418
2000008.0,19.682007,4.6494465
2000009.0,13.652765,2.8555055